<ion-header-bar class="header-bars bar-stable bar bar-header bar-balanced encabezado">
        <h5 class="title">SISTEMA DE RASTREO DE EMBARQUES</h5>
</ion-header-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive  tabs-top tabs-background-dark tabs-color-light">


	<ion-tab title="MOVIMIENTOS" href="#/movimientos">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="HISTORIAL" href="#/historial">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="SINCRONIZAR" href="#/sincronizar">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
