<ion-view view-title="Chats">
  <ion-content>
        <div class="card etiquetas" ng-click="info2()">
            <h4>385.5 kg | Cartón - packa boton</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
  </ion-content>
</ion-view>
