<ion-view view-title="Movimientos">
<ion-content class="padding">
<div class="row">
  <div class="col col-70">
    <div class="embarques">
     <div ng-repeat="movimiento in movimientos" class="card etiquetas">      
            <div class="col-md-4">
            <h6>{{movimiento.Peso}} | {{movimiento.NombreMaterial}}</h6>
            <p>{{movimiento.Fecha}}</p>
            </div>
      </div>   
    
    </div>
  </div>
  <div class="col col-40">
    <div class="card embarques2">
      <h6>DETALLE DE TRANSACCION</h6>
      <hr>
      <div>
        <table>
          <tr>
            <td>
              <input type="radio" name="radiog_dark" id="radio4" class="css-checkbox" />
              <label for="radio4" class="css-label radGroup2"> Salida de material</label>
            </td>
          </tr>
          <tr class="margin">
            <td>
              <input type="radio" name="radiog_dark" id="radio5" class="css-checkbox" checked="checked"/><label for="radio5" class="css-label radGroup2">Recepción de material</label>
            </td>
          </tr>
        </table>
      </div>
        <label class="item item-input item-stacked-label margin">
              <span class="input-label">Matricula de vehiculo</span>
              <input type="text" placeholder="" ng-model="data.password">
        </label>
        <label class="item item-input item-stacked-label">
              <span class="input-label">Autorizado por</span>
              <input type="text" placeholder="" ng-model="data.password">
        </label>
      
      <button class="firma" ng-click='openSignatureModal()'>Firmar</button>
      
  <script id= "firma-modal.html"  type= "text/ng-template" > 
      <ion-modal-view>
        <ion-header-bar class="encabezado">
          <h1 class="title encabezado">FIRMAR</h1>
        </ion-header-bar>
        <ion-content scroll="false">
          <div class="card list">
            
            <canvas id="signature-canvas" class="padding-horizontal item" style="width: 100%; height:50%;"></canvas>
          </div>
          <div class="button-bar padding">
            <button class="button" ng-click="clear(); signatureModal.hide()">Cancelar</button>
            <button class="button " ng-click="clear()">Limpiar</button>
            <button class="button "  ng-click="saveCanvas()">Aceptar</button>
          
          </div>
        </ion-content>
      </ion-modal-view>
  </script>

          <div class="cuadrofirma">
            
          </div>
      <hr>
      <div class="text-right">
        <button class="transaccion" ng-click="registrar()">REGISTRAR TRANSACCION</button>
      </div>
    </div>
  </div>
</div>
</ion-content>

  <ion-footer-bar align-title="left" class=" footer2 ">
    <div class="buttons col col-30">
      <h6 class="titfoo">  2 Embarques registrados</h6>
    </div>
    <div class="buttons col col-30">
    <p class="light">Entrada manual </p>
    </div>
    <div class="col col-30">
      <button class="botonscaner" ng-click="leerCodigo()">Escanear Embarque</button>
    </div>
  </ion-footer-bar>

</ion-view>


  <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
          <div class='button-bar'>
              <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
              <a class='button button-balanced' ng-click='saveCanvas()'>Save</a>
  </div>