<ion-view view-title="Account">
  <ion-content>
        
<div class="row sincronizar">
	<h4 class="light pendientes">Embarques pendientes de sincronizar
	</h4>
	<button class="botonsincronizar">
	  <h5>Sincronizar todo</h5>
	</button>
	
</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>

				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>
					  <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

          <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
          <div class="card etiquetas">
            <h4>385.5 kg | Cartón - packa</h4>
            <p>002-03-2201</p>
          </div>

            <div class="card etiquetas">
              <h4>385.5 kg | Cartón - packa</h4>
               <p>002-03-2201</p>
          </div>
  </ion-content>
</ion-view>
