<ion-view view-title="Sincronizar">
  <ion-content>
         <ion-refresher
    pulling-text="Suelte para actualizar..."
    on-refresh="doRefreshsi()">
  </ion-refresher>
<div class="row sincronizar">
	<h4 class="light pendientes">Embarques pendientes de sincronizar
	</h4>
	<div class="col col-30 text-right">
  <button class="botonsincronizar">Sincronizar todo</button></div>
	
</div>
  <div ng-repeat="otro in sincro" class="card etiquetas">      
                  <div class="col-md-4">
                    <h6>{{otro.id}} | {{otro.firma}}</h6>
                    <p>{{otro.usuario_id}}</p>
                  </div>
      </div>

<br>
  </ion-content>
</ion-view>
