<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
  <ion-header-bar class="header-bars bar-stable bar bar-header bar-balanced encabezado">
        <div class="titulo col col-50 text-left">SISTEMA DE RASTREO DE EMBARQUES</div>
        <div class="salir col col-40 text-left">Operador de pruebas planta ecoplast</div>
        <div class="col col-30 text-right">
        <button class=" btnsalir"><a href="#/">Salir</a></button>
        </div>
    </div>
</ion-header-bar>
<ion-tabs class="tabs-color-cative-light tabs-background-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="MOVIMIENTOS"  href="#/movimientos">
    <ion-nav-view name="movi-vista"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="HISTORIAL"  href="#/tab/historial">
    <ion-nav-view name="histo-vista"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="SINCRONIZAR"  href="#/tab/sicronizacion" >
    <ion-nav-view name="sincro-vista" ></ion-nav-view>
  </ion-tab>


</ion-tabs>
