<br><br><br>
<ion-header-bar class="header-bars bar-stable bar bar-header bar-balanced encabezado">
        
        <div class="titulo">SISTEMA DE RASTREO DE EMBARQUES</div>
        <div class="salir">Operador de pruebas planta ecoplast</div>
      <div class="btnsalir"> <button class="botonsincronizar">
        Salir
      </button>
    </div>
</ion-header-bar>
<div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
                  <div class="tabs">
                    <a class="tab-item" href="#/movimientos">
                      MOVIMIENTOS
                    </a>
                    <a class="tab-item active" href="#/historial">
                      HISTORIAL
                    </a>
                    <a class="tab-item" href="#/sincronizar">
                      SINCRONIZAR
                    </a>
                  </div>
                </div>       
<br>
<div class="row">
			<div class="row">
				<div class="card etiquetas">
					  <h4>385.5 kg | Cartón - packa</h4>
					  <p>002-03-2201</p>
					</div>

				  	<div class="card etiquetas">
					    <h4>385.5 kg | Cartón - packa</h4>
					     <p>002-03-2201</p>
					</div>
			</div> 
		
</div>