<ion-header-bar class="header-bars bar-stable bar bar-header bar-balanced encabezado">
        <h5 class="title">SISTEMA DE RASTREO DE EMBARQUESs</h5>
</ion-header-bar>

<div class="card login">
	<div class="tLogin"><h4 class="tlogin light">Inicio de sesión</h4></div>
  <div class="item item-text-wrap">
    		<br>
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Usuario</span>
			    <input type="text" placeholder="">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Contraseña</span>
			    <input type="password" placeholder="">
			  </label>
			  <br><br>

			
			<div class="row blogin" ng-click="#/movimientos">
			  <button class="button biniciar" >
  				CONTINUAR
			  </button>
			</div>
		</div> 
  </div>
</div>